@font-face {
  font-family: 'theboldstreetregular';
  src: url('theboldstreet-webfont.woff2') format('woff2'),
       url('theboldstreet-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 375px;
  margin: auto;
  background: #a1a1a1;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  color: #000;
  font-weight: 700;
  font-size: 17px;
  background-image: url(../img/bg-vevey.jpg);
  height: 280px;
}

strong {
  font-weight: 700;
}

.note {
  font-size: 12px;
}

.note-portrait {
  text-align: center;
}

header p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

h1 {
  padding: 0;
  margin: 0;
}

main {
  background: #000;
}

p {
  font-size: 16px;
  padding: 0 25px 20px 25px;
  margin: 0;
  line-height: 19px;
}

h2 {
  font-family: 'theboldstreetregular';
  font-size: 46px;
  font-weight: 200;
  transform: scale(1, 1.2);
  text-transform: capitalize;
  padding: 0 25px 10px;
  margin: 0;
}

.container-art {
  background-image: url(../img/bg-tags.jpg);
  height: 261px;
}

.container-skateboard {
  background-image: url(../img/bg-skatepark.jpg);
  height: 261px;
}

.container-music {
  background-image: url(../img/bg-scene.jpg);
  height: 261px;
}

.container-food {
  background-image: url(../img/bg-food.jpg);
  height: 261px;
}

a {
  color: #fff;
  text-decoration: solid underline #fff 1px;
}

footer {
  background: #000;
}

footer .logo-small {
  max-width: 148px;
  margin: auto;
  padding: 40px 0;
}

header .logo-big {
  width: 216px;
}

.container-logo {
  align-self: flex-start;
}

.container-header {
  flex-flow: row nowrap;
}

.container-cta {
  width: 50%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
}

.container-header .cta {
  width: 145px;
}

.img-text {
  max-width: 233px;
  max-height: 105px;
}

.img-picture-art {
  max-width: 127px;
  max-height: 174px;
}

.img-picture-skateboard {
  max-width: 206px;
  max-height: 194px;
}

.img-picture-music {
  max-width: 153px;
  max-height: 197px;
}

.img-picture-food {
  max-width: 172px;
  max-height: 128px;
}

.img-portrait {
  max-width: 75%;
  margin: auto;
}